<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Saurer-Bau"
	backgroundColor="rgba(190,190,190,1)"
	textColor="rgba(255,221,0,1)"
	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	useThumbDots="true"

>
  <image imageURL="images/mini_ Feb 2015 479.jpg"
	thumbURL="thumbs/mini_ Feb 2015 479.jpg"
	linkURL="images/mini_ Feb 2015 479.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Tiefbau\3_Strassenabschluss Berger Huenibach\mini_ Feb 2015 479.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mini_ Feb 2015 478.jpg"
	thumbURL="thumbs/mini_ Feb 2015 478.jpg"
	linkURL="images/mini_ Feb 2015 478.jpg"
	linkTarget="_blank"
	sourcePath="F:\webdesign\saurer-bau.ch\img\Tiefbau\3_Strassenabschluss Berger Huenibach\mini_ Feb 2015 478.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>